
<h2>Log In</h2>

<%= form_tag login_path do %>

  <div class="field">
    <%= text_field_tag :uni, params[:uni], :placeholder => 'Your UNI here'  %>
    <%= submit_tag "Log In", :class => "btn btn-primary" %>
  </div>

<% end %>

<div>
  <p class="btn btn-info btn-small">
    <%= link_to "Create a New User", signup_path %>
  </p>
</div>

