
<h1>Home</h1>
<ul>
<li class="btn btn-info btn-large"><a href='/students'>Students</a></li>
<li class="btn btn-info btn-large"><a href='/courses'>Courses</a></li>
<li class="btn btn-info btn-large"><a href='/lectures'>Lectures</a></li>
<li class="btn btn-info btn-large"><a href='/uploads'>Uploads</a></li>
<li class="btn btn-info btn-large"><a href='/assignments'>Assignments</a></li>
</ul>

