<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @upload.title %>
</p>

<% if current_student.role %>
    <%= link_to 'Edit', edit_upload_path(@upload) %> |
<% end %>
<%= link_to 'Back', uploads_path %>
